{#
/**
 * @file
 * Layouts: 4 Column.
 *
 * Available variables:
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'layout-section',
    'layout',
    'layout--4-col',
  ]
%}
{% if content %}
  <div{{ attributes.addClass(classes) }}>
    <div class="container">
      <div class="row">
        {% if content.first %}
          <div class="col-md-3">
            <div {{ region_attributes.first.addClass('layout__region', 'layout__region--first') }}>
              {{ content.first }}
            </div>
          </div>
        {% endif %}
        {% if content.second %}
          <div class="col-md-3">
            <div {{ region_attributes.second.addClass('layout__region', 'layout__region--second') }}>
              {{ content.second }}
            </div>
          </div>
        {% endif %}
        {% if content.third %}
          <div class="col-md-3">
            <div {{ region_attributes.third.addClass('layout__region', 'layout__region--third') }}>
              {{ content.third }}
            </div>
          </div>
        {% endif %}
        {% if content.fourth %}
          <div class="col-md-3">
            <div {{ region_attributes.fourth.addClass('layout__region', 'layout__region--fourth') }}>
              {{ content.fourth }}
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endif %}
