{% extends 'page.html.twig' %}

{% block page_body %}
  {% set site_content_attributes = create_attribute() %}

  {%
    set site_content_classes = [
      'site-content',
      (node and node.field_hide_header_elements.value) ? 'site-content--hide-header-elements',
      (node and node.field_disable_page_top_margin.value) ? 'site-content--disable-top-margin'
    ]
  %}

{#  {% if node and node.field_hide_header_elements.value %}#}
{#    {% set site_content_attributes = site_content_attributes.addClass('site-content--hide-header-elements') %}#}
{#  {% endif %}#}

  <div{{ site_content_attributes.addClass(site_content_classes) }} class="site-content{{ site_content_class }}">
    <main class="content__main-content clearfix" role="main">
      {# Link is in html.html.twig. #}
      <div class="visually-hidden"><a id="main-content" tabindex="-1"></a></div>

      <div class="site-content__container container">
        {% if page.header %}
          <div class="site-content__header">
            {{ page.header }}
          </div>
        {% endif %}
        <div class="row">
          <div class="col-sm-12 col-main-content--full-width">
            {% if not (node and node.field_hide_header_elements.value) %}
              {% if page.breadcrumb %}
                {{ page.breadcrumb }}
              {% endif %}
            {% endif %}

            {% if page.highlighted %}
              {{ page.highlighted }}
            {% endif %}

            {% if page.help %}
              {{ page.help }}
            {% endif %}

            {% block page_title %}
              {% if not (node and node.field_hide_header_elements.value) %}
                {% if page.page_title %}
                  {{ page.page_title }}
                {% endif %}
              {% endif %}
            {% endblock page_title %}

            {% if page.above_content %}
              {{ page.above_content }}
            {% endif %}

            {% if page.content %}
              {{ page.content }}
            {% endif %}
          </div>
        </div>
      </div>

      {# Components. #}
      {% if node and node.field_components.0.target_id %}
        <div class="page-components">
          {{ node.field_components|view }}
        </div>
      {% endif %}
      {# / Components. #}

      {# Below Content. #}
      {% if page.below_content %}
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              {{ page.below_content }}
            </div>
          </div>
        </div>
      {% endif %}
      {# / Below Content. #}
    </main>
  </div>
{% endblock page_body %}
